**/.ipynb_checkpoints/*
**/__pycache__/*
mnist_param/*
fmnist_param/*
cifar10_param/*
datasets/*
_utils/*
*.png
*.pkl
*.pdf
*.log
*.ipynb
models/__init__.py
models/cifar10.py
models/mnist.py
utils/tools.py
